* {
  margin:5px;
  padding: 0;
}

body {
  background: #cad8df;
  /* height: 100%; */
  height: 100vh;
  width: 100vw;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#main {
  display: flex;
  justify-content: space-around;
  flex-direction: row;

}

#tweet {
  flex-direction: column;
}

.single-tweet{
  width: 500px
}
form {
  width: 500px;
}
form button {
  color: white;
  background-color: #59A9E9;
  padding: .5em .5em;
  border: none;
  font-size: 1.00em;
  transition: all 1s ease;
  outline: none;
}

form textarea {
  font-size: .75em;
  width: 500px;
	height: 150px;
	border: 3px solid #cccccc;
}

img {
  height: 100px;
  width: 100px;
}

.profile-pic {
  display: flex;
  flex-direction: row;
  align-items: center;
}
